.ant-checkbox-group {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.sidebar {
  // max-width: 250px;
  width: 30%;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  height: min-content;
}

.sidebar__title {
  display: block;
  text-transform: uppercase;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: flex-end;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #4A4A4A;
}

// .ant-checkbox-wrapper:first-child {
//   margin-left: 8px;
// }

.ant-checkbox-wrapper {
  padding: 10px 0;
  margin-left: 0 !important;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  display: flex;
  align-items: center;

  color: #4A4A4A;
  :hover {
    background: #F1FCFF;
  }
}